@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", sans-serif;
}
/* desktop */

header{
  padding: 50px;
  .logo{
    width: 112px;
    height: 66px;
    margin: 0px;
    margin-bottom: 3%;
  }

}
.banner{
  padding: 50px;
  .calendar ul{
    list-style-type: none;
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 29px;
  
  }.calendar li{
    margin-right: 25px;
    display: flex;
    justify-content: baseline;
  }
  .calendar img{
    width: 22px;
    margin-right: 8px;

  }
  .banner-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .banner-text{
    width: 60%;
  }
  .banner-text h1{
    font-size: 80px;
  }
  .banner-text p{
    font-size: 23px;
  }
  .banner-img{
    align-items: center;
    width: 30%;
  }
  .banner-img img{
    width: 304px;
    height: 356px;
    margin: auto;
  }
  .aphorism-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .aphorism{
    background-color: #1E4681;
    border: 1px solid #1E4681;
    border-radius: 4px;
    width: 483.3px;
    height: 200px;
    font-size: 25px;
    color: white;
    padding: 19px 27px;
    margin-top: 100px;
  
  }
  .aphorism .author{
    font-size: 20px;
    margin-top: 30px;
    margin-left: 184px;
  }
}



/* tablet */
@media screen and (max-width: 1280px) {
  header{
    padding: 50px;
    .logo{
    width: 65px;
    height: 38px;
    }
  }
  .banner{
    padding: 50px;
    .calendar ul{
      font-size: 15px;
      margin-bottom: 15px;
    }
    .calendar li{
      margin-right: 14px;
    }
    .calendar img{
      width: 12px;
    }
    .calendar{
      margin-bottom: -20px;
    }
    .banner-text h1{
      font-size: 46px;
    }
    .banner-text p{
      font-size: 12px;
      width: 264px;
    }
    .banner-img img{
      width: 176px;
      height: 206px;
      
    }
    .aphorism{
      width: 280px;
      height: 115px;
      font-size: 14px;
      padding: 12px 15px;
      margin-top: 114px;
    
    }
    .aphorism .author{
      font-size: 12px;
      margin-top: 8px;
      margin-left: 108px;
    }

  }
}

/* smartphone  */
@media screen and (max-width: 990px) {
  header{
    min-width: 320px;
    padding: 50px;
  }
  header .logo{
    width: 52px;
    height: 31px;
  }
  .banner{
    padding: 50px;
    min-width: 320px;
    .calendar ul{
      font-size: 13px;
      margin-bottom: 8px;
    }
    .calendar li{
      margin-right: 11px;
    }
    .calendar img{
      width: 10px;
      margin-right: 6px;
    }
    .calendar{
      margin-bottom: 30px;
    }
    .banner-item{
      justify-content: flex-start;
      align-items: start;
      flex-direction: column;
      width: 100%;
      
    }
    .banner-text h1{
      width: 100%;
      font-size: 37px;
    }
    .banner-text p{
      font-size: 10px;
      width: 212px;
    }
    .banner-img{
      width: 100%;
    }
    .banner-img img{
      width: 141px;
      height: 175px;
      
    }
    .aphorism-container{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .aphorism{
      width: 225px;
      height: 93px;
      font-size: 11px;
      padding: 8px 12px;
    
    }
    .aphorism .author{
      font-size: 10px;
      margin-top: 7px;
      margin-left: 87px;
    }

  }

}
